################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CashMachine - BackEnd/.vs/CashMachine/v15/Server/sqlite3/db.lock
